@use '@angular/material' as mat;

@import './styles/theme-palette';

@include mat.core;

$primary: mat.define-palette($primary-palette, 500);
$accent: mat.define-palette($accent-palette, 500);
$warn: mat.define-palette($warn-palette);
$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include mat.all-component-themes($theme);
