$util.qr($ctx.args.input.put("id", $util.autoUlid()))
$util.qr($ctx.args.input.put("createdAt", $util.time.nowFormatted("yyyy-MM-dd HH:mm:ssZ")))
$util.qr($ctx.args.input.put("version", 1))
#set ($pk = "SUGGESTION")
#set ($sk = $ctx.args.input.id)

{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {
    "pk": $util.dynamodb.toDynamoDBJson($pk),
    "sk": $util.dynamodb.toDynamoDBJson($sk)
  },
  "attributeValues" : $util.dynamodb.toMapValuesJson($ctx.args.input),
}
