<h1>{{ 'TOS' | translate }}</h1>
<p>La aplicación web para {{ subtitle }} es una herramienta para facilitar la información y decisiones propuganadas desde
el Consejo Escolar del Centro, de forma que cualquier persona interesada tenga un acceso cómodo a esta información pública.</p>
<p>La aplicación no registra de facto ningún dato sobre el usuario, excepto nombre y correo electrónico sólo si el usuario
envía sugerencias a través del formulario para dicho efecto. Esa información es totalmente opcional, puesto que el usuario
puede enviar sus sugerencias sin necesidad de enviar sus datos personales. Esos datos se recavan opcionalmente sólo si el
usuario desea que se le comunique una respuesta de forma directa.</p>
<p>En ese caso, tratamos la información que nos facilita con el fin de prestarles el servicio solicitado.
Los datos proporcionados se conservarán durante el tiempo necesario para cumplir con las obligaciones legales (1 mes) y
atender las posibles responsabilidades que pudieran derivar del cumplimiento de la finalidad para la que los datos fueron recabados.
Los datos no se cederán a terceros salvo en los casos en que exista una obligación legal.
Usted tiene derecho a obtener información sobre si estamos tratando sus datos personales, por lo que puede ejercer sus derechos de acceso,
rectificación, supresión y portabilidad de datos y oposición y limitación a su tratamiento ante
<i>Armando Soriano</i> en la dirección de correo electrónico <a href="mailto:asoriano.dev@gmail.com">asoriano.dev@gmail.com</a>
adjuntando copia de su DNI o documento equivalente.  Asimismo, y especialmente si considera que no ha obtenido satisfacción
plena en el ejercicio de sus derechos, podrá presentar una reclamación ante la autoridad nacional de control dirigiéndose
a estos efectos a la Agencia Española de Protección de Datos, C/ Jorge Juan, 6 – 28001 Madrid.</p>
